@font-face {
    font-family: theOffice;
    src: url(../assets/fonts/TYPIST.TTF);
}

/* Reset and Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    transition: background-color 0.3s, border-bottom 0.3s;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
}

.logo{
    width: 80px;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: color 0.3;
}

.navbar ul li a:hover {
    color: #FFC0CB ; 
}

.navbar-auth {
    height: 120%;
    width: 28%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.navbar-auth a {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-weight: 500;
    color: black;
    background-color: #FFFFFF ;
}
/* Base Styles */
html, body {
    color: #ffffff;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/imgs/fundo_login.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

a {
    all: unset;
    cursor: pointer;
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Column Styles */
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 480px;
    border-radius: 32px;
    padding: 36px 32px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.column span {
    font-family: theOffice;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
    margin-bottom: 24px;
}

/* Form Styles */
.column .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_container {
    position: relative;
    width: 100%;
}

.input_container img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}  

.input_container input {
    font-size: 1rem;
    color: #333333;
    padding: 12px 12px 12px 48px;
    margin: 16px 0;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: theOffice;
}  

.input_container input:focus {
    outline: none;
    border-color: #8B4513;
    box-shadow: 0 0 8px rgba(139, 69, 19, 0.4);
    background-color: rgba(255, 248, 220, 0.4);
}

#btn-login {
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

#btn-login:hover {
    background-color: #3A4E48;
    transform: scale(1.05);
}

#btn-login:active {
    background-color: #FFFFE0;
    transform: scale(1);
}

#btn-login:focus {
    outline: none;
}

/* Icon Button Styles */
#button_fechar {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

#button_fechar img {
    width: 24px;
    height: 24px;
}

#button_fechar:hover, #button_ocultar:hover {
    transform: scale(1.2);
}

#button_ocultar {
    right: 50px;
}
