/* configurações iniciais */

*{
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
}


.header {
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    padding: 5px 0;
    transition: background-color 0.3s; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header .container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
}

.header .navbar-logo {
    height: 70px; 
    width: 50px; 
    margin-right: 400px;
}


.header .navbar a {
    color: white; 
    text-decoration: none;
    margin-right: 80px; 
}




.header .navbar-auth {
    margin-left: auto; 
}


.header .navbar-auth a {
    color: white;
    text-decoration: none;
    margin-right: 10px; 
}













